bot-whatsapp/n8n-workflow-whatsapp-echo-gemini.json
{
  "name": "WhatsApp → Echo con Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-echo",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "id": "node-01",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "from",
              "value": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "messageType",
              "value": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "messageText",
              "value": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "phoneNumberId",
              "value": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.metadata?.phone_number_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-02",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-03",
      "name": "Es Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\n\nreturn [{\n  json: {\n    from: msg.from,\n    phoneNumberId: msg.phoneNumberId,\n    geminiPayload: {\n      contents: [{\n        parts: [{\n          text: 'Eres un asistente de eco. Devuelve el siguiente mensaje exactamente como lo recibes, sin modificaciones ni comentarios adicionales.\\n\\nMensaje: ' + msg.messageText\n        }]\n      }]\n    }\n  }\n}];"
      },
      "id": "node-04",
      "name": "Preparar Payload Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $vars.GEMINI_API_KEY }}",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonParameters": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {}
      },
      "id": "node-05",
      "name": "Analizar con Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "respuesta",
              "value": "={{ $json.candidates?.[0]?.content?.parts?.[0]?.text ?? 'No se pudo procesar el mensaje.' }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "from",
              "value": "={{ $('Preparar Payload Gemini').first().json.from }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "phoneNumberId",
              "value": "={{ $('Preparar Payload Gemini').first().json.phoneNumberId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-06",
      "name": "Extraer Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phoneNumberId }}/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.WHATSAPP_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            { "name": "messaging_product", "value": "whatsapp" },
            { "name": "to", "value": "={{ $json.from }}" },
            { "name": "type", "value": "text" },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: '🤖 Echo: ' + $json.respuesta }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-07",
      "name": "Enviar Echo WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [{ "node": "Extraer Datos", "type": "main", "index": 0 }]
      ]
    },
    "Extraer Datos": {
      "main": [
        [{ "node": "Es Texto?", "type": "main", "index": 0 }]
      ]
    },
    "Es Texto?": {
      "main": [
        [{ "node": "Preparar Payload Gemini", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparar Payload Gemini": {
      "main": [
        [{ "node": "Analizar con Gemini", "type": "main", "index": 0 }]
      ]
    },
    "Analizar con Gemini": {
      "main": [
        [{ "node": "Extraer Respuesta", "type": "main", "index": 0 }]
      ]
    },
    "Extraer Respuesta": {
      "main": [
        [{ "node": "Enviar Echo WA", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
