bot-whatsapp/n8n-workflow-whatsapp-transacciones.json
{
  "name": "WhatsApp → Transacciones SGO",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerBearerToken",
        "url": "=http://api-gateway:8080/api/transacciones",
        "requestMethod": "POST",
        "specifyBody": "json",
        "jsonBody": "={\n  \"id_obra\": {{ $node[\"Set Obra\"].json.id_obra }},\n  \"id_asociado\": {{ $node[\"Set Cliente/Proveedor\"].json.id_asociado }},\n  \"tipo_asociado\": \"{{ $node[\"Set Cliente/Proveedor\"].json.tipo_asociado }}\",\n  \"tipo_transaccion\": \"{{ $node[\"Select Tipo\"].json.tipo_transaccion }}\",\n  \"fecha\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"monto\": {{ $node[\"Input Monto\"].json.monto }},\n  \"forma_pago\": \"{{ $node[\"Input Forma Pago\"].json.forma_pago }}\",\n  \"medio_pago\": \"WhatsApp Bot\",\n  \"concepto\": \"{{ $node[\"Input Concepto\"].json.concepto }}\",\n  \"factura_cobrada\": false,\n  \"activo\": true\n}",
        "options": {}
      },
      "id": "a7b8c9d0",
      "name": "Crear Transacción API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "tipo_transaccion",
            "value": "=if($json.option === 'pago') { 'PAGO' } else { 'COBRO' }"
          }
        ]
      },
      "id": "b8c9d0e1",
      "name": "Select Tipo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "id_obra",
            "value": "={{ $node['Input Obra'].json.obra_id }}"
          }
        ]
      },
      "id": "c9d0e1f2",
      "name": "Set Obra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [600, 150]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "id_asociado",
            "value": "={{ $node['Select Cliente/Proveedor'].json.associated_id }}"
          },
          {
            "name": "tipo_asociado",
            "value": "={{ $node['Select Cliente/Proveedor'].json.associated_type }}"
          }
        ]
      },
      "id": "d0e1f2g3",
      "name": "Set Cliente/Proveedor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [600, 250]
    },
    {
      "parameters": {
        "conditions": {
          "nodes": [
            {
              "name": "Es PAGO",
              "type": "filter",
              "value1": "={{ $node['Select Tipo'].json.tipo_transaccion }}",
              "value2": "PAGO"
            }
          ]
        }
      },
      "id": "e1f2g3h4",
      "name": "If PAGO o COBRO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 350]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=http://api-gateway:8080/api/clientes"
      },
      "id": "f2g3h4i5",
      "name": "Obtener Clientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=http://api-gateway:8080/api/proveedores"
      },
      "id": "g3h4i5j6",
      "name": "Obtener Proveedores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "waitForWebhook": true
      },
      "id": "h4i5j6k7",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "monto",
            "value": "={{ $json.message_data.monto }}"
          }
        ]
      },
      "id": "i5j6k7l8",
      "name": "Input Monto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 150]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "forma_pago",
            "value": "={{ $json.message_data.forma_pago || 'Efectivo' }}"
          }
        ]
      },
      "id": "j6k7l8m9",
      "name": "Input Forma Pago",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 250]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "concepto",
            "value": "={{ $json.message_data.concepto || 'Movimiento desde WhatsApp Bot' }}"
          }
        ]
      },
      "id": "k7l8m9n0",
      "name": "Input Concepto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 350]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "obra_id",
            "value": "={{ $json.message_data.obra_id }}"
          }
        ]
      },
      "id": "l8m9n0o1",
      "name": "Input Obra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 50]
    },
    {
      "parameters": {
        "assignments": [
          {
            "name": "associated_id",
            "value": "={{ $json.message_data.associated_id }}"
          },
          {
            "name": "associated_type",
            "value": "={{ $json.message_data.associated_type }}"
          }
        ]
      },
      "id": "m9n0o1p2",
      "name": "Select Cliente/Proveedor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [400, 400]
    },
    {
      "parameters": {
        "options": {
          "method": "POST"
        },
        "url": "={{ $env.WHATSAPP_WEBHOOK_URL }}",
        "body": "={\n  \"to\": \"{{ $node['Webhook WhatsApp'].json.phone_number }}\",\n  \"message\": \"Transacción creada exitosamente. ID: {{ $node['Crear Transacción API'].json.id }}. Monto: ${{ $node['Input Monto'].json.monto }}\"\n}"
      },
      "id": "n0o1p2q3",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "options": {
          "method": "POST"
        },
        "url": "={{ $env.WHATSAPP_WEBHOOK_URL }}",
        "body": "={\n  \"to\": \"{{ $node['Webhook WhatsApp'].json.phone_number }}\",\n  \"message\": \"❌ Error al crear la transacción: {{ $node['Crear Transacción API'].json.message }}\"\n}"
      },
      "id": "o1p2q3r4",
      "name": "Enviar Error WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "conditions": {
          "nodes": [
            {
              "name": "Success",
              "type": "filter",
              "value1": "={{ $node['Crear Transacción API'].json.id !== null }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "p2q3r4s5",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Input Obra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Obra": {
      "main": [
        [
          {
            "node": "Set Obra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Monto": {
      "main": [
        [
          {
            "node": "Select Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Tipo": {
      "main": [
        [
          {
            "node": "Input Forma Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Forma Pago": {
      "main": [
        [
          {
            "node": "Input Concepto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Concepto": {
      "main": [
        [
          {
            "node": "Set Cliente/Proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Cliente/Proveedor": {
      "main": [
        [
          {
            "node": "Crear Transacción API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Transacción API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Error WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Argentina/Buenos_Aires"
  }
}
